<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>light1.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,124},{104,104}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light10.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{90,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{90,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{94,112}}</string>
                <key>offset</key>
                <string>{-1,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{12,7},{94,112}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{98,100}}</string>
                <key>offset</key>
                <string>{0,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,15},{98,100}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light4.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,124},{104,104}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light5.png</key>
            <dict>
                <key>frame</key>
                <string>{{124,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,320},{90,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{90,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light7.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,230},{90,94}}</string>
                <key>offset</key>
                <string>{3,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,13},{90,94}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{120,120}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{120,120}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
            <key>light9.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,124},{104,104}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,16},{104,104}}</string>
                <key>sourceSize</key>
                <string>{120,120}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>lightening2.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:71ff5dd8a44c569ca7ac515fc208b978:1/1$</string>
            <key>textureFileName</key>
            <string>lightening2.pvr.ccz</string>
        </dict>
    </dict>
</plist>
